<% layout('layout') -%>

<div class="jumbotron">
    <h1>Dialer Manager</h1>
    <p class="lead">PureCloud Dialer API Demonstration.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Campaigns</h2>
        <p>Manipulate campaigns:</p>
        <ul>
            <li>Apply Rule sets</li>
            <li>Schedule calls</li>
        </ul>
        <% if (token) { %>
            <p><a class="btn btn-default" href="/campaigns">Campaigns &raquo;</a></p>
        <% } else { %>
          <p><a class="btn btn-warning disabled" href="/campaigns"><span class='glyphicon glyphicon-warning-sign'></span> Login! &raquo;</a></p>
        <% } %>
    </div>
    <div class="col-md-4">
        <h2>Contact List</h2>
        <p>Manipulate Contact Lists.</p>
        <% if (token) { %>
            <p><a class="btn btn-default" href="/ContactLists">Contact Lists &raquo;</a></p>
        <% } else { %>
            <p><a class="btn btn-warning disabled" href="/ContactLists"><span class='glyphicon glyphicon-warning-sign'></span> Login! &raquo;</a></p>
        <% } %>
    </div>
    <div class="col-md-4">
        <h2>Skills</h2>
        <p>Bulk Load Skills.</p>
        <% if (token) { %>
            <p><a class="btn btn-default" href="/Skills">Skills &raquo;</a></p>
        <% } else { %>
            <p><a class="btn btn-warning disabled" href="/Skills"><span class='glyphicon glyphicon-warning-sign'></span> Login! &raquo;</a></p>
        <% } %>
    </div>
</div>
