<% layout('../layout') -%>

<h2>Index &nbsp;<i id="spinner-load" class="fa fa-refresh fa-spin" style="font-size:24px"></i></h2>

<div class="row">
  <div id="campaigns_view" class="col-md-4"></div>
  <div id="campaign_view"  class="col-md-4"></div>
</div>

<script id="campaigns_template" type="text/template">
<h3>Campaigns <span class="badge">{{total}}</span></h3>
<table class="table">
  {{#entities}}
  <!-- <tr><td><a href="/campaign/{{id}}" >{{name}}</a></td></tr> -->
  <tr><td><a class="show_campaign" href="#" rel="{{id}}">{{name}}</a></td></tr>
  {{/entities}}
</table>
<button class="btn btn-default" onClick="javascript:previous_page()">&lt;</button>
<button class="btn btn-default" onClick="javascript:next_page()">&gt;</button>
</script>

<script id="campaign_template" type="text/template">
<h4>Details</h4>
<table class="table">
  <tr><td>Name        </td><td>{{name}}, version {{version}}</td></tr>
  <tr><td>Status      </td><td>{{campaignStatus}}</td></tr>
  <tr><td>Caller Name </td><td>{{callerName}}</td></tr>
  <tr><td>Queue       </td><td>{{queue.name}}</td></tr>
  <tr><td>Contact List</td><td>{{contactList.name}}</td></tr>
  <tr><td>Rule Sets   </td><td>{{#ruleSets}}{{name}},&nbsp;{{/ruleSets}}</td></tr>
</table>
<div class="row">
  <div class="col-md-2">
<a id="edit_campaign" class="btn btn-default" href="/campaigns/{{id}}/edit" alt="Edit" data-toggle="tooltip" title="Edit"><span class='glyphicon glyphicon-edit'></span> &raquo;</a>
  </div>
  <div class="col-md-8">
    <button id="schedule_call" class="btn btn-default" rel="{{id}}" data-processing-text="Scheduling..." data-processed-text="Scheduled">
      <span id="text">Schedule</span>&nbsp;&nbsp;<i id="spinner" class="fa fa-refresh fa-spin" style="font-size:18px"></i>
    </button>
    <br/>calls for tomorrow at 10AM
  </div>
</div>
</script>

<script>
var outbound_api;
var campaigns;
var schedule_call;

function initialize_view()
{
  outbound_api  = new OutboundApi(purecloud_session);
  schedule_call = new StateButton('schedule_call', on_click_schedule_call);

  outbound_api.getCampaigns()
    .done(function(data){ campaigns = data; view_campaigns(campaigns); })
    .fail(function(error){ console.error(error); });
}

function next_page()
{
  purecloud_session.get(last_data.nextUri).done(view_campaigns);
}

function previous_page()
{
  purecloud_session.get(last_data.previousUri).done(view_campaigns);
}

function view_campaigns(campaigns)
{
  console.log("Displaying %d Campaigns %O", campaigns.total, campaigns);
  render_template(campaigns, 'campaigns_view', 'campaigns_template');
  $('#spinner-load').hide();
  $('a.show_campaign').on('click', on_click_campaign);
}

function on_click_campaign(event)
{
  console.log("Campaign Click Event!");

  // Prevent link from firing up
  event.preventDefault();

  view_campaign($(this).attr('rel'));
}

function view_campaign(id)
{
  console.log("Fetching Campaign " + id);
  var pos = campaigns.entities.map(function(element) { return element.id; }).indexOf(id);

  console.log("pos=" + pos);
  render_template(campaigns.entities[pos], 'campaign_view', 'campaign_template');
  schedule_call.initialize();
}

function on_click_schedule_call(event)
{
  console.log("ScheduleCall Click Event!");
  schedule_call.processing();

  var campaign_id = $(this).attr('rel');
  var pos         = campaigns.entities.map(function(element) { return element.id; }).indexOf(campaign_id);
  var campaign    = campaigns.entities[pos];

  console.log("Fetching Schedules for campaign %s", campaign.id);
  outbound_api.getSchedulesCampaignsCampaignId(campaign_id)
    .done(function(data){
      console.log("Current Schedule: %O", data)

      var start_time = new Date();

      start_time.setUTCDate(start_time.getUTCDate() + 1);
      start_time.setHours(10);
      start_time.setMinutes(0);
      start_time.setSeconds(0);

      var end_time = new Date(start_time);

      end_time.setMinutes(end_time.getMinutes() + 30);

      data.intervals.push({
        start: start_time.toISOString(),
        end:   end_time.toISOString(),
      });
      outbound_api.putSchedulesCampaignsCampaignId(campaign_id, data)
        .done(function(data){
          schedule_call.processed();
          console.log("scheduled! %O", data)
        })
        .fail(function(error){ console.error(error); });
    })
    .fail(function(error){ console.error(error); });
}
</script>
