<% layout('../layout') -%>

<script>
var outbound_api = new OutboundApi(purecloud_session);
var contactlist  = null;

if (contactlist == null)
{
  console.log('Loading ContactList <%= id %>');
 outbound_api.getContactlist('<%= id %>', true, true, true)
    .done(view_contactlist)
    .fail(function(error){ console.error(error); });
}
else
{
  view_contactlist(contactlist);
}

function view_contactlist(data)
{
  console.log("Displaying Contactlist ", data.id);
  console.dir(data);
  contactlist = data;

  render_template(contactlist, 'contactlist_view', 'contactlist_template');
  $('#export_contacts').on('click', on_click_export_contacts);
}

function on_click_export_contacts(event)
{
  console.log("Export Click Event!");

  // Prevent link from firing up
  event.preventDefault();

  outbound_api.postContactlistExport($(this).attr('rel'))
    .done(function(data){
      console.log("Exporting Contact List %s", data.id);
      console.dir(data);
    })
    .fail(function(error){ console.error(error); });
}

</script>

<script id="contactlist_template" type="text/template">
<h4>ContactList: {{name}}</h4>
<hr/>

<dl class="dl-horizontal">
  <dt>Name:</dt><dd>{{name}}, version {{version}}</dd>
  <dt>{{columnNames.length}} Columns:<dt><dd>{{#columnNames}} {{.}}, {{/columnNames}}</dd>
  <dt># Contacts:</dt><dd>{{size}}</dd>
</dl>

<ul>
  <li><a href="/Contacts/?contactlist_id={{id}}">List</a> all contacts</li>
  <li><a href="/Contacts/new?contactlist_id={{id}}">Add</a> a new contact</li>
  <li><a href="#" id='export_contacts' rel='{{id}}'>Export</a> all contacts</li>
  <li><a href="/ContactLists/{{id}}/Contacts/new/Upload">Import</a> many contacts</li>
  <!-- These are actually column modifications -->
  <li><a href="/ContactLists/{{id}}/Skill/1">Reset Skill 1</a> for all contacts named <b>Dow</b></li>
  <li><a href="/ContactLists/{{id}}/Skill/1">Update Skill 1 to <b>English</b></a> for all contacts named <b>Dow</b></li>
  <!-- -->
  <li>Assign all contacts named <b>Dow</b> to Campaign X</li>
  <li>Assign all contacts named <b>Dow</b> to Campaign Y</li>
  <li>Schedule a call tomorrow in Campaign X for all contacts named <b>Dow</b></li> <!-- POST /Campaign/{{campaign_id}}/Call { when: 'tomorrow' } -->
  <li>Update Status to all contacts named <b>Dow</b> to <b>Just In Time</b></li><!-- PUT /ContactLists/{{id}} { Status: 'J' } -->
</ul>
</script>

<h2>Details</h2>

<div id="contactlist_view"></div>

<div>
  <a href="/ContactLists">Back to List</a>
</div>
