<% layout('../layout') -%>

<script>
var outbound_api = new OutboundApi(purecloud_session);
var contactlist  = null;
var update_contacts   = new StateButton('update_contacts', on_click_update_contacts);
var export_contacts   = new StateButton('export_contacts', on_click_export_contacts);
var download_contacts = new StateButton('download_contacts', on_click_download_contacts);

if (contactlist == null)
{
  console.log('Loading ContactList <%= id %>');
 outbound_api.getContactlist('<%= id %>', true, true, true)
    .done(view_contactlist)
    .fail(function(error){ console.error(error); });
}
else
{
  view_contactlist(contactlist);
}

function view_contactlist(data)
{
  console.log("Displaying Contactlist ", data.id);
  console.dir(data);
  contactlist = data;

  render_template(contactlist, 'contactlist_view', 'contactlist_template');
  $('#spinner-load').hide();

  $('#update_contacts_progress').hide();
  update_contacts.initialize();

  export_contacts.initialize();
  $('#download_contacts_process').hide();
  download_contacts.initialize();
}

function on_click_export_contacts(event)
{
  console.log("Export Click Event!");
  export_contacts.processing();

  outbound_api.postContactlistExport($(this).attr('rel'))
    .done(function(data){
      console.log("Exporting Contact List %s", data.id);
      console.dir(data);
      check_export_contacts(data);
    })
    .fail(function(error){ console.error(error); });
}

function check_export_contacts(data)
{
  console.log("NEED TO ADD CODE HERE!!!");
  setTimeout(function() {
    export_contacts.processed();
    $('#spinner-export').hide();
    $('#export_contacts').removeClass('disabled');
  }, 1000);
}

function on_click_download_contacts(event)
{
  console.log("Download Click Event!");

  // Prevent link from firing up
  event.preventDefault();
}

function on_click_update_contacts(event)
{
  console.log("Update Click Event!");
  update_contacts.processing();

  // Prevent link from firing up
  event.preventDefault();

  $('#update_contacts').addClass('disabled');

  console.dir(event);
  var column_search_name  = $('#update_contacts_SearchColumnName').val();
  var column_search_value = $('#update_contacts_SearchColumnValue').val();
  var column_update_name  = $('#update_contacts_ChangeColumnName').val();
  var column_update_value = $('#update_contacts_ChangeColumnValue').val();

  console.log("Search: [%s] == '%s'", column_search_name, column_search_value);
  console.log("Change: [%s] == '%s'", column_update_name, column_update_value);

  $('#update_contacts_updated_count').html(function(id,value) { return 0; });
  $('#update_contacts_progress').show(500);
  max_tries = 5;
  for (contact_id=1; contact_id <= contactlist.size; contact_id++)
  {
    //outbound_api.getContactlistContact(contactlist.id, contact_id)
    RestRequest('GET', '/outbound/contactlists/' + contactlist.id + '/contacts/' + contact_id, 5, 5000)
      .done(function(data) {
        var contact_search_value = data.data[column_search_name];
        console.log ("Checking contact %s => %s: %s == %s?", data.id, column_search_name, column_search_value, contact_search_value);
        if (data.data[column_search_name] == column_search_value)
        {
          console.log("Match (%s)!", column_update_value);
          data.data[column_update_name] = column_update_value;
          //outbound_api.putContactlistContact(data.contactListId, data.id, data)
          RestRequest('PUT', '/outbound/contactlists/' + contactlist.id + '/contacts/' + data.id, 5, 5000, data)
            .done(function(data){
              console.log("Success!");
              console.dir(data);
              $('#update_contacts_updated_count').html(function(id,value) { return +value+1; });
            })
            .fail(function(error){ console.error(error); });
        }
        $('#update_contacts_processed_count').html(function(id,value) { return +value+1; });
        console.log("processed: " + Number($('#update_contacts_processed_count').html()) + " / " + contactlist.size);
        if (Number($('#update_contacts_processed_count').html()) == contactlist.size) {
          update_contacts.processed();
        }
      })
      .fail(function(jqXHR, status){
        console.error("Error %s to fetch contact %s", status, contact_id);
        console.dir(jqXHR);
      });
  }
}
</script>

<script id="contactlist_template" type="text/template">
<h4>ContactList: {{name}}</h4>
<hr/>

<dl class="dl-horizontal">
  <dt>Name:</dt><dd>{{name}}, version {{version}}</dd>
  <dt>{{columnNames.length}} Columns:<dt><dd>{{#columnNames}} {{.}}, {{/columnNames}}</dd>
  <dt># Contacts:</dt><dd>{{size}}</dd>
</dl>

<ul>
  <li><a href="/Contacts/?contactlist_id={{id}}">List</a> all contacts</li>
  <li><a href="/Contacts/new?contactlist_id={{id}}">Add</a> a new contact</li>
  <li>
    <div id="export_contacts_process">
      <button id="export_contacts" class="btn btn-default" rel="{{id}}" data-processing-text="Exporting..." data-processed-text="Exported">
        <span id="text">Export</span>&nbsp;&nbsp;<i id="spinner" class="fa fa-refresh fa-spin" style="font-size:18px"></i>
      </button>
      all contacts
    </div>
    <div id="download_contacts_process">
      <button id="download_contacts" class="btn btn-default" rel="{{id}}" data-processing-text="Downloading..." data-processed-text="Downloaded">
        <span id="text">Download</span>&nbsp;&nbsp;<i id="spinner" class="fa fa-refresh fa-spin" style="font-size:18px"></i>
      </button>
      all contacts
    </div>
  </li>
  <li><a href="/ContactLists/{{id}}/Contacts/new/Upload">Import</a> many contacts</li>
  <!-- These are actually column modifications -->
  <li>
    Change Column
      <select id="update_contacts_ChangeColumnName">
      {{#columnNames}}
        <option value="{{.}}">{{.}}</option>
      {{/columnNames}}
      </select>
      to
      <input id="update_contacts_ChangeColumnValue" type="text"/>
      for all contacts with
      <select id="update_contacts_SearchColumnName">
      {{#columnNames}}
        <option value="{{.}}">{{.}}</option>
      {{/columnNames}}
      </select>
      to
      <input id="update_contacts_SearchColumnValue" type="text"/>
      <button id="update_contacts" class="btn btn-default" rel="{{id}}" data-processing-text="Updating..." data-processed-text="Updated">
        <span id="text">Update</span>&nbsp;&nbsp;<i id="spinner" class="fa fa-refresh fa-spin" style="font-size:18px"></i>
      </button>
      <div id="update_contacts_progress">
        <br/>
        <p>Processed <span id="update_contacts_processed_count" class="badge">0</span> and Updated <span id="update_contacts_updated_count" class="badge">0</span>/<span class="badge">{{size}}</span> contacts.
        </p>
      </div>
  </li>
</ul>
</script>

<h2>Details &nbsp;<i id="spinner-load" class="fa fa-refresh fa-spin" style="font-size:24px"></i></h2>

<div id="contactlist_view"></div>

<div>
  <a href="/ContactLists">Back to List</a>
</div>
