<% layout('../layout') -%>

<script>
var outbound_api = new OutboundApi(purecloud_session);
var contactlist  = null;

if (contactlist == null)
{
  console.log('Loading ContactList <%= id %>');
 outbound_api.getContactlist('<%= id %>', true, true, true)
    .done(view_contactlist)
    .fail(function(error){ console.error(error); });
}
else
{
  view_contactlist(contactlist);
}

function view_contactlist(data)
{
  console.log("Displaying Contactlist ", data.id);
  console.dir(data);
  contactlist = data;

  render_template(contactlist, 'contactlist_view', 'contactlist_template');
  $('#export_contacts').on('click', on_click_export_contacts);
  $('#update_contacts').on('click', on_click_update_contacts);
}

function on_click_export_contacts(event)
{
  console.log("Export Click Event!");

  // Prevent link from firing up
  event.preventDefault();

  outbound_api.postContactlistExport($(this).attr('rel'))
    .done(function(data){
      console.log("Exporting Contact List %s", data.id);
      console.dir(data);
    })
    .fail(function(error){ console.error(error); });
}

function on_click_update_contacts(event)
{
  console.log("Update Click Event!");

  // Prevent link from firing up
  event.preventDefault();

  console.log("Search: [%s] == '%s'", $('#update_contacts_SearchColumnName').val(), $('#update_contacts_SearchColumnValue').val());
  console.log("Change: [%s] == '%s'", $('#update_contacts_ChangeColumnName').val(), $('#update_contacts_ChangeColumnValue').val());
}
</script>

<script id="contactlist_template" type="text/template">
<h4>ContactList: {{name}}</h4>
<hr/>

<dl class="dl-horizontal">
  <dt>Name:</dt><dd>{{name}}, version {{version}}</dd>
  <dt>{{columnNames.length}} Columns:<dt><dd>{{#columnNames}} {{.}}, {{/columnNames}}</dd>
  <dt># Contacts:</dt><dd>{{size}}</dd>
</dl>

<ul>
  <li><a href="/Contacts/?contactlist_id={{id}}">List</a> all contacts</li>
  <li><a href="/Contacts/new?contactlist_id={{id}}">Add</a> a new contact</li>
  <li><a id="export_contacts" clas="link" href="#" rel="{{id}}">Export</a> all contacts</li>
  <li><a href="/ContactLists/{{id}}/Contacts/new/Upload">Import</a> many contacts</li>
  <!-- These are actually column modifications -->
  <li>
    Change Column
      <select id="update_contacts_ChangeColumnName">
      {{#columnNames}}
        <option value="{{.}}">{{.}}</option>
      {{/columnNames}}
      </select>
      to
      <input id="update_contacts_ChangeColumnValue" type="text"/>
      for all contacts with
      <select id="update_contacts_SearchColumnName">
      {{#columnNames}}
        <option value="{{.}}">{{.}}</option>
      {{/columnNames}}
      </select>
      to
      <input id="update_contacts_SearchColumnValue" type="text"/>
      <a id="update_contacts" class="btn btn-default" href="#" rel='{{id}}'>Update!</a>
  </li>
</ul>
</script>

<h2>Details</h2>

<div id="contactlist_view"></div>

<div>
  <a href="/ContactLists">Back to List</a>
</div>
