<% layout('../layout') -%>

<h2>Index &nbsp;<i id="spinner-load" class="fa fa-refresh fa-spin" style="font-size:24px"></i></h2>
<hr/>
<div id="contacts_view"></div>


<div>
  <a href="/ContactLists/<%= contactlist_id %>">Back to List</a>
</div>

<script id="contacts_template" type="text/template">
<h4><span class="badge">{{size}}</span> Contacts in ContactList {{name}}</h4>
<table class="table">
  <thead>
  <tr><th>id</th><th>Email</th><th>&nbsp;</th>
  </thead>
  <tbody></tbody>
</table>
</div>
</script>

<script>
var outbound_api;
var contactlist;
var contacts;

function initialize_view()
{
  outbound_api = new OutboundApi(purecloud_session);
  contacts     = [];

  console.log('Loading ContactList <%= contactlist_id %>');
  outbound_api.getContactlist('<%= contactlist_id %>', true, true, true)
    .done(view_contacts)
    .fail(function(error){ console.error(error); });
}

function view_contacts(data)
{
  contactlist = data;
  console.log("Displaying Contacts in ContactList ", data.id);
  console.dir(data);

  render_template(data, 'contacts_view', 'contacts_template');
  for (contact_id=1; contact_id <= data.size; contact_id++)
  {
    $('#contacts_view table tbody:last-child')
      .append('<tr id= "contact_view_' + contact_id + '"><td>' + contact_id + '</td></tr>');

    //outbound_api.getContactlistContact(contactlist.id, contact_id)
    RestRequest('GET', '/outbound/contactlists/' + contactlist.id + '/contacts/' + contact_id, 5, 5000)
      .done(view_contact)
      .fail(function(jqXHR, status){
          console.error("Error %s to fetch contact %s", status, contact_id);
          console.dir(jqXHR);
      });
  }
}

function view_contact(data)
{
  console.log("Displaying Contact ", data.id);
  console.dir(data);

  contacts[data.id] = data;
  $('#contact_view_' + data.id)
    .append($('<td>')
      .append($('<a>')
        .attr('href', '/Contacts/' + data.id + '/?contactlist_id=' + data.contactListId)
        .text(data.data.Email)
      )
    )
    .append($('<td>')
      .append($('<a>')
        .attr('href', '/Contacts/' + data.id + '/edit?contactlist_id=' + data.contactListId)
        .append($('<span>')
          .attr('class', 'glyphicon glyphicon-edit')
        )
      )
      .append(' | ')
      .append($('<a>')
        .attr('id', 'contact_delete_' + data.id)
        .attr('href', '#')
        .append($('<span>')
          .attr('class', 'glyphicon glyphicon-trash')
        )
      )
    );
  $('#contact_delete_' + data.id).on('click', null, data.id, on_click_delete);
  if (contacts.size == contactlist.total)
  {
    $('#spinner-load').hide();
  }
}

function on_click_delete(event)
{
  console.log("Delete Click Event!");

  // Prevent link from firing up
  event.preventDefault();
  console.dir(event);

  console.log("deleting contact: %s", event.data);
}
</script>
