<% layout('../layout') -%>

<script>
var outbound_api = new OutboundApi(purecloud_session);
var contactlist  = null;

if (contactlist == null)
{
  console.log('Loading ContactList <%= contactlist_id %>');
 outbound_api.getContactList('<%= contactlist_id %>', true, true, true)
    .done(view_contact)
    .fail(function(error){ console.error(error); });
}
else
{
  view_contact(contactlist);
}

function view_contact(data)
{
  console.log("Displaying new Contact in ContactList ", data.id);
  console.dir(data);
  contactlist = data;

  // Unfortunately, columns can have names that cannot be fetched easily
  // by jQuery once they are used as DOM ids
  console.log("Create object with safe ids")
  var blob = {
    contactlist: contactlist,
    columns:     contactlist.columnNames.map(function(column){
                     return {
                       id:   column.replace( /([\/ \.\?])/g, "_"),
                       name: column
                     }
                   })
  };
  console.dir(blob);
  render_template(blob, 'contact_view', 'contact_template');
  $('a.on_click_create').on('click', on_click_create);
}

function on_click_create(event)
{
  console.log("Create Click Event!");

  // Prevent link from firing up
  event.preventDefault();

  console.log("Building new Contact");
  var contact = {
                  id: contactlist.size + 1,
                  name: "",
                  contactListId: contactlist.id,
                  data: {},
                  callRecords: {},
                  callable: true,
                  phoneNumberStatus: {},
                  selfUri: ""
                };
  var priority = false;

  contactlist.columnNames.forEach(function(column){

    contact.data[column] = $('#' + column.replace( /([\/ \.\?])/g, "_")).val();
  });
  console.dir(contact);
  outbound_api.createContactListContacts(contactlist.id, [ contact ], priority)
    .done(function(){
    console.log("Successfuly added!");
    window.location.href = contactlist.selfUri;
    })
    .fail(function(error){ console.error(error); });
}

</script>

<script id="contact_template" type="text/template">
<h4>New Contact in ContactList: {{contactlist.name}}</h4>
<hr/>
<div class="form-horizontal">
  <input id="contactlist_id" name="contactlist_id" type="hidden" value="{{contactlist.id}}"/>

  {{#columns}}
  <div class="form-group">
    <label class="control-label col-md-2" for="{{id}}">{{name}}</label>
    <input type="text" id="{{id}}"/>
  </div>
  {{/columns}}

  <div class="form-group">
    <div class="col-md-offset-2 col-md10">
      <!-- <input type="submit" value="Create" class="btn btn-default on_click_create"/> -->
      <a  href="#" class="btn btn-primary on_click_create">Create!</a>
    </div>
  </div>
</div>

</script>

<h2>Details</h2>

<div id="contact_view"></div>

<div>
  <a href="/ContactLists/<%= contactlist_id %>">Back to List</a>
</div>
