<% layout('../layout') -%>

<h2>Details &nbsp;<i id="spinner-load" class="fa fa-refresh fa-spin" style="font-size:24px"></i></h2>

<div id="contact_view"></div>

<div>
  <a href="/ContactLists/<%= contactlist_id %>">Back to List</a>
</div>

<script id="contact_template" type="text/template">
<h4>New Contact in ContactList: {{contactlist.name}}</h4>
<hr/>
<div class="form-horizontal">
  <input id="contactlist_id" name="contactlist_id" type="hidden" value="{{contactlist.id}}"/>

  {{#columns}}
  <div class="form-group">
    <label class="control-label col-md-2" for="{{id}}">{{name}}</label>
    <input type="text" id="{{id}}"/>
  </div>
  {{/columns}}

  <div class="form-group">
    <div class="col-md-offset-2 col-md10">
      <button id="create_contact" class="btn btn-default" rel="{{id}}" data-processing-text="Creating..." data-processed-text="Created">
        <span id="text">Create</span>&nbsp;&nbsp;<i id="spinner" class="fa fa-refresh fa-spin" style="font-size:18px"></i>
      </button>
    </div>
  </div>
</div>
</script>

<script>
var outbound_api;
var contactlist;
var create_contact;

function initialize_view()
{
  outbound_api   = new OutboundApi(purecloud_session);
  create_contact = new StateButton('create_contact', on_click_create_contact);

  console.log('Loading ContactList <%= contactlist_id %>');
  outbound_api.getContactlist('<%= contactlist_id %>', true, true, true)
    .done(view_contact)
    .fail(function(error){ console.error(error); });
}

function view_contact(data)
{
  contactlist = data;
  console.log("Displaying new Contact in ContactList $s %O", contactlist.id, contactlist);

  // Unfortunately, columns can have names that cannot be fetched easily
  // by jQuery once they are used as DOM ids
  console.log("Create object with safe ids")
  var blob = {
    contactlist: contactlist,
    columns:     contactlist.columnNames.map(function(column){
                     return {
                       id:   column.replace( /([\/ \.\?])/g, "_"),
                       name: column
                     }
                   })
  };
  console.log("Blob: %O", blob);
  render_template(blob, 'contact_view', 'contact_template');
  create_contact.initialize();
  $('#spinner-load').hide();
}

function on_click_create_contact(event)
{
  console.log("Create Click Event!");
  create_contact.processing();

  console.log("Building new Contact");
  var contact = {
                  id: contactlist.size + 1,
                  name: "",
                  contactListId: contactlist.id,
                  data: {},
                  callRecords: {},
                  callable: true,
                  phoneNumberStatus: {},
                  selfUri: ""
                };
  var priority = false;

  contactlist.columnNames.forEach(function(column){

    contact.data[column] = $('#' + column.replace( /([\/ \.\?])/g, "_")).val();
  });
  console.log("Contact: %O", contact);
  outbound_api.postContactlistContacts(contactlist.id, [ contact ], priority)
    .done(function(){
    console.log("Successfuly added!");
    create_contact.processed();
    setTimeout(function(){ window.location.href = '/ContactLists/' + contactlist.id; }, 1000);
    })
    .fail(function(error){ console.error(error); });
}

</script>
